<div class="login-container">
  <h2 class="login-title login-item">Login</h2>
  <form class="login-item login-form" method="POST" action="/main">
    <div class="login-inner-item">
      <label class="login-username" for="username">Username</label>
      <input class="login-input" type="text" id="username" name="username" />
    </div>
    <div class="login-inner-item">
      <label class="login-password" for="password">Password</label>
      <input
        class="login-input"
        type="password"
        id="password"
        name="password"
      />
    </div>
    <br />
    <div class="login-inner-item login-submit">
      <button
        class="login-button login-button-submit"
        type="submit"
        id="submit"
        name="submit"
      >
        Login
      </button>
    </div>
    <h4 class="login-breaker">or</h4>
    <div class="login-inner-item login-register">
      <button
        class="login-button login-button-register"
        type="button"
        id="register"
        name="register"
      >
        Register
      </button>
    </div>
  </form>
</div>
