<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="grid.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />

    <title>MAIN</title>
  </head>
  <body>
    <div class="main-container">
      <% if(typeof username != "undefined") {%>
      <div class="main-content">
        <h1>LOGGED IN as</h1>
        <h2>User: <%=username%></h2>
        <%}%>
      </div>

      <img class="main-ola" src="ola.png" />
      <a class="logout-btn login-button" href="/bye">Logout</a>
    </div>
  </body>
</html>
