<div class="register-container">
  <form class="register-form login-item " method="POST" action="/">
    <div class="closeBtn fas fa-times"></div>
    <div class="reg-item">
      <label for="reguser">Username</label>
      <input type="text" id="reguser" name="reguser" />
    </div>
    <div class="reg-item">
      <label for="regemail">Email</label>
      <input type="email" id="regemail" name="regemail" />
    </div>
    <div class="reg-item">
      <label for="regpassword">Password</label>
      <input type="password" id="regpassword" name="regpassword" />
    </div>
    <div class="reg-item">
      <label for="regpasswordrep">Repeat password</label>
      <input type="password" id="regpasswordrep" name="regpasswordrep" />
    </div>
    <button
      type="submit"
      id="regSubmit"
      name="regSubmit"
      class="regSubmitBtn login-button reg-item"
    >
      Finish
    </button>
  </form>
</div>
