html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". cmnt ."
    ". main ."
    ". btn .";
}

.reg-comment {
  grid-area: cmnt;
  margin: auto;
}
.ola-container {
  grid-area: cmnt;
  position: relative;
}
.main-ola {
  position: absolute;
  top: 50px;
  left: 75px;
}

.main-content {
  grid-area: main;
}
.logout-cont {
  grid-area: btn;
  position: relative;
}

.register-container {
  grid-area: main;
  z-index: 999;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 250px;
  height: 245px;
  border: 10px solid rgb(107, 103, 103);
  padding: 20px;
  background-color: white;
}
.register-form {
  z-index: 9999;
}
.closeBtn {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 10px;
  content: "\00d7";
}
.login-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 245px;
  border: 10px solid rgb(107, 103, 103);
  padding: 20px;
}
.login-title {
  margin-top: 0%;
  margin-left: 25%;
}
.login-username,
.login-password {
  font-size: 10px;
}
.login-input {
  width: 100%;
  margin-top: 5px;
}
.login-button {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  text-decoration: none;
  border: none;
  color: #ffffcc;
  background-color: rgba(173, 104, 64, 0.808);
  cursor: pointer;
}
.login-button-submit {
  background-color: rgb(30, 133, 64);
  padding: 15px;
}

.logout-btn {
  grid-area: btn;
  width: 250px;
  height: 25px;
  background-color: #ccccccff;
  color: black;
  position: absolute;
  top: 50%;
  left: 30px;
  text-align: center;
  padding-top: 10px;
}
.logout-btn a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.logout-btn a:visited,
a:link,
a:hover,
a:active {
  color: black;
}

.login-breaker {
  font-size: 15px;
  margin: 0%;
  margin-left: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0%;
}
